{extend name="public:body" /}
{block name="content"}
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="{:URL('admin/index/index')}">首页</a>
			</li>
			<li class="active">系统信息</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="icon-remove"></i>
					</button>

					<i class="icon-ok green"></i>

					欢迎使用
					<strong class="green">
						后台管理系统
						<small>(v1.0)</small>
					</strong>
				</div>

				<div class="row">
					<div class="col-sm-5">
						<div class="widget-box transparent">
							<div class="widget-header widget-header-flat">
								<h4 class="lighter">
									<i class="icon-star orange"></i>
									系统信息
								</h4>
							</div>

							<div class="widget-body">
								<div class="widget-main no-padding">
									<table class="table table-bordered table-striped">
										<thead class="thin-border-bottom">
											<tr>
												<th>
													<i class="icon-caret-right blue"></i>
													名称
												</th>

												<th>
													<i class="icon-caret-right blue"></i>
													值
												</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>操作系统</td>
												<td class="hidden-480">
													{$info.OPERATING_SYSTEM}
												</td>
											</tr>
											<tr>
												<td>运行环境</td>
												<td class="hidden-480">
													{$info.OPERATING_ENVIRONMENT}
												</td>
											</tr>
											<tr>
												<td>PHP运行方式	</td>
												<td class="hidden-480">
													{$info.PHP_RUN_MODE}
												</td>
											</tr>
											<tr>
												<td>MYSQL版本</td>
												<td class="hidden-480">
													{$info.MYSQL_VERSION}
												</td>
											</tr>
											<tr>
												<td>上传附件限制</td>
												<td class="hidden-480">
													{$info.UPLOAD_MAX_FILESIZE}
												</td>
											</tr>
											<tr>
												<td>执行时间限制</td>
												<td class="hidden-480">
													{$info.MAX_EXECUTION_TIME}
												</td>
											</tr>
											<tr>
												<td>剩余空间</td>
												<td class="hidden-480">
													{$info.DISK_FREE_SPACE}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hr hr32 hr-dotted"></div>
			</div>
		</div>
	</div>
</div>
{/block}