<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{block name="title"}后台管理{/block}</title>
<meta content="{block name="keywords"}后台管理{/block}" name="keywords"/>
<meta content="{block name="description"}后台管理{/block}" name="description"/>
{// 头部CSS代码 }
{block name="head"}{include file="public/head" /}{/block}
</head>
<body>
{// 头部代码 }
{block name="header"}{include file="public/header" /}{/block}

<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>

		{// 菜单 }
		{block name="menu"}{include file="public/menu" /}{/block}

		
		{// 内容区 }
		{block name="content"}{/block}
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div>


{// 底部JS代码 }
{block name="foot"}{include file="public/foot" /}{/block}
{block name="self"}{/block}
</body>
</html>